/* Curso CSS estilos aprenderaprogramar.com*/
html{

	margin:0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    margin: 2mm 8mm 2mm 8mm; 

     }

table {     
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 8px;   
margin: -3px;  
width: 1050px; 
text-align: right;  
border-collapse: collapse; }

th {
font-size: 8px;     
font-weight: normal;  
padding: 8px;  
background: #b9c9fe;
border-top: 4px solid #aabcfe;  
border-bottom: 1px solid #fff;
color: #039; }

td { 
font-size: 8px;  
padding: 8px;    
background: #e8edff;   
border-bottom: 1px solid #fff;

color: #669;  
border-top: 1px solid transparent; }

tr:hover td {
background: #d0dafd; 
color: #339; }



.tabla{

width: 600px;

}

h2{
font-size: 8px;
text-transform: uppercase;
font-family:  Arial, Helvetica, sans-serif;



}

/*
.resaltador{
background-color: #C3E623;
width: 500px;
border-radius: 5px;

}
*/

.titulo{
color: blue;
font-size: 8px;
font-family:  Arial, Helvetica, sans-serif;



}

.alinear{

text-align: center;


}

/*
.detalle{
font-family:  Arial, Helvetica, sans-serif;
font-size: 8px;
background-color: #4CF736;
font-style: normal;
border-radius: 8px;
}
*/

.espacio{

	   line-height: 3px;
}


.izq
{
text-align: left;
}

.center
{
text-align: center;
}